<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container" style="width: 54rem;">
		<div class="card bg-light mb-3">
			<div class="card-header mb-3 text-white text-center">
				<h3 th:text="${titulo}"></h3>
			</div>
			<div class="card-body" th:each="usuario: ${usuario}">

				<div class="container">
					<div class="card bg-light">
						<ul class="nav nav-tabs" id="myTab" role="tablist">
							<li class="nav-item"><a class="nav-link active"
								id="info-tab" data-toggle="tab" href="#info" role="tab"
								aria-controls="home" aria-selected="true">Datos Personales</a></li>
							<li class="nav-item"><a
								sec:authorize="hasRole('ROLE_USER2')" class="nav-link"
								id="datosSistema-tab" data-toggle="tab" href="#datosSistema"
								role="tab" aria-controls="datosSistema" aria-selected="false">Datos
									en el Sistema</a></li>
							<li class="nav-item"><a
								sec:authorize="hasRole('ROLE_USER2')" class="nav-link"> Ver
									Expedientes</a></li>
						</ul>
						<div class="card-body">
							<div class="tab-content" id="myTabContent">
								<div class="tab-pane fade show active" id="info" role="tabpanel"
									aria-labelledby="info-tab">
									<div class="card">
										<div class="card-body">
											<div class="form-group row">
												<label for="nombre" class="col-sm-4 col-form-label">Nombre(s):</label>
												<div class="col-sm-6">
													<input type="text" class="form-control"
														th:field="${usuario.nombre}" readonly />
												</div>
											</div>
											<br>
											<div class="form-group row">
												<label for="nombre" class="col-sm-4 col-form-label">Apellido
													Paterno:</label>
												<div class="col-sm-6">
													<input type="text" class="form-control"
														th:field="${usuario.apellidoPaterno}" readonly />
												</div>
											</div>
											<br>
											<div class="form-group row">
												<label for="nombre" class="col-sm-4 col-form-label">Apellido
													Materno</label>
												<div class="col-sm-6">
													<input type="text" class="form-control"
														th:field="${usuario.apellidoMaterno}" readonly />
												</div>
											</div>
											<br>
											<div class="form-group row">
												<label for="nombre" class="col-sm-4 col-form-label">Correo Electr&oacute;nico:</label>
												<div class="col-sm-6">
													<input type="text" class="form-control"
														th:field="${usuario.email}" readonly />
												</div>
											</div>
											<br>
											<div>
												<a class="btn btn-primary btn-xs"
													th:href="@{/Usuario/editarDatos/} + ${usuario.id}">Editar
													datos</a>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="datosSistema" role="tabpanel"
									sec:authorize="hasRole('ROLE_USER2')"
									aria-labelledby="datosSistema">
									<div class="card">
										<div class="card-body">
											<div class="form-group row">
												<label for="nombre" class="col-sm-4 col-form-label">Permisos
													en el Sistema</label>
												<div class="col-sm-6">
													<input type="text" class="form-control"
														th:field="${investigador.roles.authorityName}" readonly />
												</div>
											</div>
											<br>
											<div class="form-group row">
												<label for="nombre" class="col-sm-4 col-form-label">Director
													de Tesis 1:</label>
												<div class="col-sm-6">
													<input type="text" class="form-control"
														th:field="${investigador.director1}" readonly />
												</div>
											</div>
											<br>
											<div class="form-group row">
												<label for="nombre" class="col-sm-4 col-form-label">Director
													de Tesis 2:</label>
												<div class="col-sm-6">
													<input type="text" class="form-control"
														th:field="${investigador.director2}" readonly />
												</div>
											</div>
											<br>
											<div>
												<a class="btn btn-primary btn-xs"
													th:href="@{/Usuario/editarDatosSistema/} + ${investigador.id}">Editar
													datos</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>