<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container">
		<div class="card bg-light mb-3" style="border-color: #4169E1">
			<div class="card-header mb-3 text-white text-center"
				style="background: #4169E1">
				<h3 th:text="${titulo}"></h3>
			</div>
			<div class="card-body">


				<table class="table table-striped">
					<thead>
						<tr>
							<th>id</th>
							<th>Nombre</th>
							<th>Clasificaci&oacute;n</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="mof: ${mof}">
							<td><a class="btn btn-primary btn-xs"
								th:href="@{/CompuestoMOF/fichaMaterial/} + ${mof.id}" th:text="${mof.id}"></a></td>
							<td th:text="${mof.nombreCompuesto}"></td>
							<td th:text="${mof.clasificacionmof.nombreClasificacion}"></td>
						</tr>
					</tbody>
				</table>

				<nav th:replace="paginator :: paginator"></nav>

			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>