<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<div class="container py-4">



					<form th:action="@{/PersonalAutorizado/formUsuario}" th:object="${usuario}" method="post">
						<div class="form-group row">
							<label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" th:errorclass="'form-control alert-danger'"
									th:field="*{nombre}" readonly/>
							</div>
						</div>

						<div class="form-group row">
							<label for="nombre" class="col-sm-2 col-form-label">Apellido Paterno</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" th:errorclass="'form-control alert-danger'"
									th:field="*{apellidoPaterno}" readonly/>
							</div>
						</div>
						
						<div class="form-group row">
							<label for="nombre" class="col-sm-2 col-form-label">Apellido Materno</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" th:errorclass="'form-control alert-danger'"
									th:field="*{apellidoMaterno}" readonly/>
							</div>
						</div>

						<div class="form-group row">
							<label for="nombre" class="col-sm-2 col-form-label">Email</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" th:errorclass="'form-control alert-danger'"
									th:field="*{email}" readonly/>
							</div>
						</div>

						<div class="form-group row">
							<label for="nombre" class="col-sm-2 col-form-label">Directores</label>
							<div class="col-sm-6">
								
							</div>
						</div>
						
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Permisos en el Sistema
							</label>
							<div class="col-sm-6">
								<select id="rol" name="rol"
									th:field="*{roles.authorityName}">
									<option th:each="permisos : ${permisos}"
										th:value="${permisos}"
										th:utext="${permisos}" />
								</select>
							</div>
						</div>

						<div class="form-group row">
							<div class="col-sm-6">
								<input type="submit" value="Guardar" class="btn-primary" />
							</div>
						</div>
						
						<input type="hidden" th:field="*{id}" />
						<input type="hidden" th:field="*{password}" />
						<input type="hidden" th:field="*{enabled}" />
						<input type="hidden" th:field="*{roles}" />

					</form>
				</div>
			</div>
		</div>
	</div>
	
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>