<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head">

</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container">
		<div class="card bg-light mb-3" style="border-color: #4169E1">
			<div class="card-header mb-3 text-white text-center"
				style="background: #4169E1">
				<h3 th:text="${titulo}"></h3>
			</div>
			<div class="card-body">
				<div class="container">
					<nav class="navbar navbar-light bg-light">
						<div class="container-fluid">
							<a th:href="@{/formPrueba/}+ ${expedientemof.id}"
								class="btn btn-primary btn-xs">Crear Prueba</a>
						</div>
					</nav>
					<div th:if="${#lists.isEmpty(expedientemof.pruebasMOF)}"
						class="alert alert-info my-4"
						th:text="'No hay registros en la secci&oacute;n: ' + ${expedientemof.nombreSeccion}">
					</div>

					<!--  <table  class="table">-->
					<table th:if="${not #lists.isEmpty(expedientemof.pruebasMOF)}"
						class="table">

						<thead class="table-light">
							<tr>
								<th>id</th>
								<th>Imagen</th>
								<th>Nombre</th>
								<th>Descripci&oacute;n</th>
								<th>Modificar</th>
								<th>Eliminar</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="pruebas: ${prueba}">
								<td><a id="ver" class="btn btn-primary btn-xs"
									th:href="@{/fichaMaterial/} + ${pruebas.id}"
									><img
										th:src="@{/images/ver.png}" width="35" height="25"></a></td>
								<td><img th:if="${#strings.length(pruebas.imagen)>0}"
									th:src="@{'/uploads/' + ${pruebas.imagen}}"
									th:alt="${pruebas.imagen}" /></td>
								<td th:text="${pruebas.nombrePrueba}"></td>
								<td th:text="${pruebas.descripcionPrueba}"></td>
								<td><a class="btn btn-primary btn-xs"
									th:href="@{/formPrueba/} + ${expedientemof.id} + '/' + ${pruebas.id}"
									th:text="'Modificar'"></a></td>
								<td><a class="btn btn-danger btn-xs"
									th:href="@{/eliminarPrueba/} + ${expedientemof.id} + '/' + ${pruebas.id}"
									th:text="'Eliminar'"> </a></td>
							</tr>
						</tbody>
					</table>

					<nav th:replace="paginator :: paginator"></nav>

				</div>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>