<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>

<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="card bg-light">
		<div class="card-header" th:text="${titulo}"></div>
		<div class="card-body">
			<div class="container py-4">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Ver Usuarios con Rol:</th>
							<th>Nombre Rol</th>
							<th>Descripci&oacute;n Rol</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="role: ${role}">
							<td><a class="btn btn-primary btn-xs"
							th:href="@{/verRol/} + ${role.id}"
							th:text="${role.id}"></a></td>
							<td th:text="${role.nombreRol}"></td>
							<td th:text="${role.descripcionRol}"></td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>