<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>

<body>
	<div class="container py-2">
		<nav class="navbar navbar-expand-lg navbar-light bg-light text-center">
			<div class="container-fluid">
				<div></div>
				<div>
					<h1>Base de Datos MOF's - LNCAE</h1>
				</div>
				<div></div>
			</div>
		</nav>
	</div>
	<header th:replace="login_error_messages :: header"></header>


	<div class="container py-2" style="width: 28rem;">
		<div class="card border-primary text-center">
			<div id="login" class="card-header">Por favor inicie
				sesi&oacute;n</div>
			<div class="card-body">

				<form th:action="@{/login}" method="post">

					<div class="form-group col-sm-12">
						<input type="email" name="email" id="username"
							class="form-control" placeholder="Correo electr&oacute;nico"
							autofocus required />
					</div>
					<br>
					<div class="form-group col-sm-12">
						<input type="password" name="password" id="password"
							class="form-control" placeholder="Contrase&ntilde;a" required />
					</div>
					<br>
					<table>
						<tr>
							<td><input type="submit"
								class="btn btn-lg btn-primary btn-block" value="Ingresar" /></td>
							<td><a th:href="@{/newPassword}" class="card-link">&iquest;Olvidaste
									tu contrase&ntilde;a?</a></td>
						</tr>
					</table>

					<div class="form-group col-sm-4"></div>

					<br>

				</form>

				<div>
					<a th:href="@{/register}" class="card-link">Registrarse</a>
				</div>
			</div>
		</div>
	</div>

</body>
</html>